

<div class="page_header">
  <h3>Listing Auction Items</h3>
</div>
<div class="create_button">
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary btn-xs" %>
</div>
<hr>

<% @listings.each do |listing| %>
  <div class="item_listing">
    <div class="item_thumbnail">
        <%= image_tag listing.image_url(:thumb).to_s %>
    </div>
    <div class="item_attributes">
      <div class="item_head">
        <strong><%= link_to listing.name, listing %></strong>
      </div><br>
        Start Bid: <strong><%= number_to_currency(listing.start_bid, precision: 2) %></strong>
        <div class="time_till">
          Auction starts in <%= get_days(Time.now.utc) %> day(s) and <%= get_minutes(Time.now.utc) %> Hours.
        </div>
    </div>
    <%= link_to "Delete", listing, method: :delete, data: {confirm: "Are you sure?"} %>
    <br>
  </div><br>
  <hr>
<% end %>

<br>