<div class="container">
    <h1><%= link_to "Logo", root_path, id: "logo" %></h1>
</div>
<div class="container">
    <ul id="nav">
        <li><%= link_to "Listings", listings_path %></li>
        <li><%= link_to "My Bids", "#" %></li>
        <li><%= link_to "Watch List", "#" %></li>
        <li><%= link_to "My Won Items", "#" %></li>
    </ul>
</div>