<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="site_container">
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="charity_banner">
        
      </div>
      <div class="watch_list">
        <%= render 'layouts/aside' %>
      </div>
      <div class="main_content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
